@font-face {
    font-family: manrope-bold;
    src: url('../inc/fonts/bold.otf');
}
@font-face {
    font-family: manrope-thin;
    src: url('../inc/fonts/regular.otf');
}
@font-face {
    font-family: mewyork;
    src: url('../inc/fonts/newyork.otf');
}
html,body{
    font-family: manrope-thin;    
}
body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

.form-landing{
    height: 120vh;
    background: url(../med/form-left.png) #2b010f;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    position: relative;
}

.form-landing > h2{
    font-family: manrope-bold;
    font-size: 4rem;
    padding: 2%;
    position: absolute;
    left: 37vw;
    margin: 0;
}

.form-fields{
    top: calc(50vw - 500px);
    position: absolute;
    left: 50vw;
    margin: 0;
}
.form-fields-1{
    top: calc(50vw - 500px);
    position: absolute;
    left: 50vw;
    margin: 0;
}

.form-fields i{
    font-size: 1.3rem;
}

input{
    color: white;
    border: none;
    width: 100%;
    border-bottom: 2px solid white;
    border-radius: 2px;
    background-color: transparent;
    position: relative;
    height: 30px;
    font-size: 1.2rem;
}

input:focus{
    transition: width 2s ease-in-out;
    width: 100%;
    outline: none;
    border-bottom: 2px solid white;
    border-radius: 2px;
}
input::placeholder{
    font-size: 1.2rem;
}


.button{
    position: absolute;
    margin: auto auto;
    font-size: 1.5rem;
    font-weight: 700;
    padding: 10px 20px;
    color: #2b010f;
    background-color: #fee6ba;
    border-color: transparent;
    border-radius: 20px;
    cursor: pointer;
}

.pt2{
    display: block;
}